%footer#footer
  .container
    .row.sections
      .span4.recent_posts
        %h3.footer_header
          {% editable_short_text "footer 1 header" %}News &amp; Events{% endeditable_short_text %}
        .post
          .date {% editable_short_text "content to go under footer left header" %}Summer Hours{% endeditable_short_text %}
          %a.title(href = "blogpost.html")
            {% editable_long_text "News & Events in footer" %}
            July 3: 10am-7pm <br>
            July 4: closed<br>
            July 5: closed<br>
            July 6: 10am-6pm<br>
            July 7: 12pm-6pm
            {% endeditable_long_text %}
        {% comment %}
        .post
          %a(href = "#")
            %img.img-circle(src = "{{ 'recent_post1.png' | theme_image_url }}")
          .date Wed, 12 Dec
          %a.title(href = "blogpost.html")
            Randomised words which don't look embarrasing hidden.
        {% endcomment %}
      .span4.testimonials
        %h3.footer_header {% editable_short_text "footer 2 header" %}Contact Us{%endeditable_short_text%}
        .wrapper
          .quote
            %p
              {% editable_long_text "Contact Us info in footer" %}
              Open Sky Day Spa<br>
              1334 West Fifth Avenue<br>
              Columbus, Ohio 43212<br>
              614.486.4520<br>
              <p>
              appointments@openskydayspa.com
              </p>
              {%endeditable_long_text %}
            %span
          .author
            {% capture owner_img %}{% editable_file "small circular image of site owner "%}{%endeditable_file%}{% endcapture %}
            {% if owner_img != '' %}
            {{ owner_img | image_tag }}
            {%else%}
            {{ 'sheri-circle-sm.png' | theme_image_tag }}
            {% endif %}
            .name {% editable_short_text "name of the site owner"%}Sheri Gunn{% endeditable_short_text %}
            .info {% editable_short_text "Short epithet"%}Good Lady{% endeditable_short_text %}
      .span4.contact
        %h3.footer_header {% editable_short_text "heading for right footer content" %}Join Our Email List{% endeditable_short_text %}
        %form
          %p.newsletter-link {% editable_short_text "words for link to your email signup form" %}Click here to join our email list{% endeditable_short_text %}
    .row.credits
      .span12
        {% comment %}
        .row.social
          .span12
            %a.facebook(href = "#")
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter(href = "#")
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
            %a.gplus(href="#")
              %span.socialicons.ico3
              %span.socialicons_h.ico3h
        {% endcomment %}
        .row.copyright
          .span12 © {{ today | date: "%Y" }} Open Sky Day Spa. All rights reserved.
