<footer id='footer'>
  <div class='container'>
    <div class='row sections'>
      <div class='span4 recent_posts'>
        <h3 class='footer_header'>
          News & Events
        </h3>
        <div class='post'>
          <div class='date'>Summer Hours</div>
          <a class='title' href='blogpost.html'>
            {% editable_short_text "News & Events in footer" %}
            July 3: 10am-7pm <br>
            July 4: closed<br>
            July 5: 10am-7pm<br>
            July 6: 10am-6pm<br>
            July 7: 12pm-6pm
            {% endeditable_short_text %}
          </a>
        </div>
        {% comment %}
        <div class='post'>
          <a href='#'>
            <img class='img-circle' src="{{ 'recent_post1.png' | theme_image_url }}">
          </a>
          <div class='date'>Wed, 12 Dec</div>
          <a class='title' href='blogpost.html'>
            Randomised words which don't look embarrasing hidden.
          </a>
        </div>
        {% endcomment %}
      </div>
      <div class='span4 testimonials'>
        <h3 class='footer_header'>Contact Us</h3>
        <div class='wrapper'>
          <div class='quote'>
            <p>
              {% editable_long_text "Contact Us info in footer" %}
              Open Sky Day Spa<br>
              1334 West Fifth Avenue<br>
              Columbus, Ohio 43212<br>
              614.486.4520<br>
              <p>
              appointments@openskydayspa.com
              </p>
              {%endeditable_long_text %}
            </p>
            <span></span>
          </div>
          <div class='author'>
            <img src="{{ 'sheri-circle-sm.png' | theme_image_url }}">
            <div class='name'>Sheri Gunn</div>
            <div class='info'>Good Lady</div>
          </div>
        </div>
      </div>
      <div class='span4 contact'>
        <h3 class='footer_header'>Join Our Email List</h3>
        <form>
          <p>Link to form will be here, coming soon!</p>
        </form>
      </div>
    </div>
    <div class='row credits'>
      <div class='span12'>
        <div class='row social'>
          <div class='span12'>
            <a class='facebook' href='#'>
              <span class='socialicons ico1'></span>
              <span class='socialicons_h ico1h'></span>
            </a>
            <a class='twitter' href='#'>
              <span class='socialicons ico2'></span>
              <span class='socialicons_h ico2h'></span>
            </a>
            <a class='gplus' href='#'>
              <span class='socialicons ico3'></span>
              <span class='socialicons_h ico3h'></span>
            </a>
          </div>
        </div>
        <div class='row copyright'>
          <div class='span12'>© {{ today | date: "%Y" }} Open Sky Day Spa. All rights reserved.</div>
        </div>
      </div>
    </div>
  </div>
</footer>
