---
title: index
published: true
---
!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}

    %title {{ page.title }}

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "{{ site.meta_description }}", :name => "description"}
    %meta{:content => "{{ site.meta_keywords }}", :name => "keywords"}

    / Le styles
    {{ 'main.css' | stylesheet_tag }}

    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  {% inline_editor %}
  %body
    .navbar.transparent.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{:data => {:toggle => "collapse",:target => ".nav-collapse"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href = '/home')
            {{ 'logo.png' | theme_image_tag }}
          .nav-collapse.collapse
            %ul.nav.pull-right
              {% nav site, depth: 2, bootstrap: true, no_wrapper: true, active_class: 'active', class: 'nav pull-right' %}

    {% block 'main' %}
    {% endblock %}

    %footer#footer
      .container
        .row.sections
          .span4.recent_posts
            %h3.footer_header
              {% editable_text "footer left heading", fixed:true, format: raw, priority: 8  %}News &amp; Events{% endeditable_text %}
            .post
              {% editable_text "footer left content", fixed:true, priority: 7 %}
              Summer Hours
              July 3: 10am-7pm <br>
              July 4: closed<br>
              July 5: closed<br>
              July 6: 10am-6pm<br>
              July 7: 12pm-6pm
              {% endeditable_text %}
            {% comment %}
            .post
              %a(href = "#")
                %img.img-circle(src = "{{ 'recent_post1.png' | theme_image_url }}")
              .date Wed, 12 Dec
              %a.title(href = "blogpost.html")
                Randomised words which don't look embarrasing hidden.
            {% endcomment %}
          .span4.testimonials
            %h3.footer_header {% editable_text "footer center heading", fixed:true, format: raw, priority: 6  %}Contact Us{%endeditable_text%}
            .wrapper
              .quote
                {% editable_text "footer center content", fixed: true, priority: 5  %}
                <p>
                Open Sky Day Spa<br>
                1334 West Fifth Avenue<br>
                Columbus, Ohio 43212<br>
                614.486.4520<br>
                </p>
                <p>
                appointments@openskydayspa.com
                </p>
                {% endeditable_text %}
                %span
              .author
                {% capture owner_img %}{% editable_file "small circular image of site owner ", fixed:true , priority: 4 %}{%endeditable_file%}{% endcapture %}
                {% if owner_img != '' %}
                {{ owner_img | image_tag }}
                {%else%}
                {{ 'sheri-circle-sm.png' | theme_image_tag }}
                {% endif %}
                .name {% editable_text "name of the site owner", fixed:true, format: raw, priority: 3 %}Sheri Gunn{% endeditable_text %}
                .info {% editable_text "Short epithet", fixed:true, format:raw, priority: 2  %}Good Lady{% endeditable_text %}
          .span4.contact
            %h3.footer_header {% editable_text "footer right heading", fixed:true, format: raw , priority: 1 %}Join Our Email List{% endeditable_text %}
            %p.newsletter-link {% editable_text "text for link to your email signup form", fixed:true, format: raw, priority: 0 %}Click here to join our email list{% endeditable_text %}
        .row.credits
          .span12
            {% comment %}
            .row.social
              .span12
                %a.facebook(href = "#")
                  %span.socialicons.ico1
                  %span.socialicons_h.ico1h
                %a.twitter(href = "#")
                  %span.socialicons.ico2
                  %span.socialicons_h.ico2h
                %a.gplus(href="#")
                  %span.socialicons.ico3
                  %span.socialicons_h.ico3h
            {% endcomment %}
            .row.copyright
              .span12 © {{ today | date: "%Y" }} Open Sky Day Spa. All rights reserved.
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:src => "//maps.googleapis.com/maps/api/js?key=AIzaSyA4CN2jSSAg-0agl5-fUi7YxxFlC_xnQQg&sensor=false"}
    {% google_analytics 'UA-43685287-1' %}
    {{ 'main.js' | javascript_tag }}
