---
title: Home page
published: true
---
!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}

    %title {{ page.title }}

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "{{ site.meta_description }}", :name => "description"}
    %meta{:content => "{{ site.meta_keywords }}", :name => "keywords"}

    / Le styles
    {{ 'main.css' | stylesheet_tag }}

    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body.pull_top
    .navbar.transparent.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{:data => {:toggle => "collapse",:target => ".nav-collapse"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href = '/home')
            {{ 'logo.png' | theme_image_tag }}
            -#%strong OPEN SKY DAY SPA
          .nav-collapse.collapse
            %ul.nav.pull-right
              {% nav site, no_wrapper: true, active_class: 'active', class: 'nav pull-right' %}

    {% block 'main' %}
    {% endblock %}
    %hr

    {% include footer %}
    / /container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    {{ 'main.js' | javascript_tag }}
